numpy>=1.21.2
scipy
scikit-learn
scikit-image
pandas
matplotlib
h5py
tqdm
joblib
importlib_resources>=5.12; python_version < "3.9"
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability